body{
    margin: 0;
    font-family: Helvetica;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1366px; 
    padding: 0px 29px;
    margin: 0px auto;
}

header{
    height: 55px;
    width: 100%;
    background-color: rgba(34, 47, 62, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left{
    float: left;
    margin-left: 29px;
}

.header-right{
    float: right;
    display: block;   
}

/* hidden */
.menu-icon{
    display: none;
}

.header-right a{
    color: white;
    font-size: 13px;
    line-height: 55px;
    padding: 0px 24px;
    float: left;
    display: block;
    transition: all 0.5s;
}

.header-right a:hover{
    background-color: rgba(89, 98, 117, 0.9);
}

.top-wrapper{
    background-image: url("/source/3945114.jpg");
    background-size: cover;
    padding: 240px 0px 300px 0px;
    text-align: center;
}

.top-wrapper h1{
    color: white;
    font-size: 47px;
    letter-spacing: 5px;
    font-family: "Lucida Grande";
}

.top-wrapper p{
    color: white;
    font-size: 15px;
}

.button-wrapper{
    text-align: center;
    height:fit-content;
}

.button{
    color: white;
    opacity: 0.7;
    display: inline-block;
    padding: 12px 24px;
}

.button:hover{
    opacity: 1;
}

.google{
    background-color: #b33939;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 13px;
}

.twitter{
    background-color: #2e86de;
    font-size: 13px;
}

.fa {
    margin-right: 7px;
}

/* CSS service-wrapper*/  
.service-wrapper {
    /* height: 700px; */
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.heading h2 {
    /* font-weight: normal; */
    text-align: center;
    font-family: "Lucida Grande";
}  
.service {
    float: left;
    width: 25%;
}

.icon {
    position: relative;
}

.icon img{
    width: 180px;
}

.icon p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 14px;
}

.txt-contents {
    width: 55%;
    display: inline-block;
    margin-top: 20px;
    font-size: 13px;
    color: #6e6a70;
    text-align: center;
}

.clear{
    clear:both;
}

.message-wrapper{
    text-align:center;
    padding-top: 75px;
    padding-bottom:10px;
    cursor: pointer;
}

.message{
    display:inline-block;
    border-radius: 10px;
    background-color:#1DD1A1 ;
    color:#fff;
    margin-bottom: 10px;
    padding: 20px 40px;
    box-shadow: 0 10px #10AC84;
}

.message:active{
    position: relative;
    top:7px;
    box-shadow: none;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: rgba(34, 47, 62, 1.0);
}

/* footer img{
    width: 100px;
} */

footer p{
    color:white;
    font-size: 10px;
    font-family: "Lucida Grande";
    letter-spacing:2px;
    word-spacing: 2px;
    /* opacity: 0.9; */
}
